#---DEFAULT CONFIGURATION---
#
INSTALL_CONDA=false
GRF_P=5
MINICONDAURL_LINUX=https\://repo.anaconda.com/miniconda/Miniconda2-latest-Linux-x86_64.sh
GRF_MIN_TR=50
PATMAN_URL=https\://bioinf.eva.mpg.de/patman/patman-1.2.2.tar.gz
INSTALL_CONDA_TOOLS=false
INSTALL_PATMAN=false
PATMAN=
GRF_MAX_SPACE=1750
GRF_T=10
