#---DEFAULT CONFIGURATION INITIAL INSTALL ---
#Tue May 24 21:46:54 BST 2022
INSTALL_CONDA_TOOLS=false
GRF_MAX_TR=5000
GRF_T=10
AT_THRESH=70
INSTALL_DIR=~/
PATMAN=
OVERLAP_THRESH=80
GRF_R=0.40
PATMAN_URL=https\://bioinf.eva.mpg.de/patman/patman-1.2.2.tar.gz
GRF_P=15
INSTALL_CONDA=false
GRF_MIN_SPACE=8
COV_THRESH=0.5
INSTALL_PATMAN=false
EVAL_THRESH=0.000001
GRF_MIN_TR=50
GRF_MAX_SPACE=1750
MINICONDAURL_LINUX=https\://repo.anaconda.com/miniconda/Miniconda2-latest-Linux-x86_64.sh
